name: insuguiaapp
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  # Dependências do Banco de Dados
  sqflite: ^2.4.2
  path_provider: ^2.1.5
  sqflite_common_ffi: ^2.3.4 # Necessário para Desktop (Windows, Linux, macOS)

  # Novas dependências para gerar PDF
  pdf: ^3.11.0         # Cria o documento PDF
  printing: ^5.12.0    # Mostra a tela de pré-visualização, salvar e compartilhar
  fl_chart: ^1.1.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

